/* BODY */

body {
    width: 100vw;
    height: 100vh;
    background: #171717;
    background-image: url("images/black-sand.jpg"); /* fallback */
    background-image: linear-gradient(90deg, rgba(23, 23, 23, 1), rgba(23, 23, 23, 0)), url("images/black-sand.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* HEADER */

.header {
    background-color: rgba(19, 19, 19, 0.75);
    height: 64px;
}

#logo {
    font-size: 1.2rem;
}

#ua-flag-icon {
    height: 64px;
    margin-right: 16px;
}

.donation-btn {
    color: #888888;
    transition: 200ms;
}
.donation-btn:hover {
    color: #ffffff;
    transition: 200ms;
}


/* MAIN SECTION */

.home-main-section {
    height: 80vh;
}

.main-intro-caption {
    color: rgba(255, 255, 255, 0.66);
    margin-top: 32px;
    margin-bottom: 40px;
}


/* SOCIAL LINKS */

.main-page-social-icon {
    margin: 0 16px 0 0;
}


/* SECONDARY SECTION */

.home-secondary-section {
    height: 20vh;
}


/* PROJECTS */

.custom-dark-btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #222222;
    color: #ffffff;
}

.caption {
    color:#888888;
    font-size: 12px;
}


/* FOOTER */

.footnote {
    color: #888888;
    font-size: 12px;
}