/* HEADER */

.header {
    position: absolute;
    width: 100vw;
    background-color: rgba(19, 19, 19, 0.75);
    height: 64px;
}

#logo {
    font-size: 1.2rem;
}

#ua-flag-icon {
    height: 64px;
    margin-right: 16px;
}

.donation-btn {
    color: #888888;
    transition: 200ms;
}
.donation-btn:hover {
    color: #ffffff;
    transition: 200ms;
}

/* INTRO */

.hero-image {
    background: #171717;
    background-image: url("../../images/yuriy-kleymenov-8FWXLFfmsv8-unsplash\ 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
}

.persona-image {
    border-radius: 100%;
    width: 200px;
    margin: -100px auto 16px;
}

.persona-caption {
    text-align: center;
    font-size: 0.8rem;
    padding: 8px 23%;
}

.quote-text {
    font-size: 1.4rem;
    margin: 16px auto;
}

.quote-caption {
    font-size: 0.9rem;
    color: #888888;
    margin-bottom: 24px;
}

#btn-next-quote {
    margin-bottom: 20%;
}

.custom-dark-btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 12px;
    background-color: #222222;
    color: #ffffff;
}

@media (max-width: 640px) {

    .hero-image {
        background-color: #394047;
        height: 224px;
    }

    .persona-image {
        width: 200px;
        margin: -100px auto 16px;
    }

    .persona-caption {
        text-align: center;
        font-size: 0.8rem;
        padding: 8px 24px;
    }

    .quote-text {
        font-size: 1.2rem;
        margin: 16px auto;
    }

}
